<section class="todoapp">
  <header class="header">
    <h1>
    <span class="red">the</span> <span class="todoh1">to-do</span> <span class="blue">list</span> 
    </h1>
    <br />
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What chores need to be done?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>
<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application coded by
  <%= link_to "Devan Potter-Bonar", "https://github.com/Adpbonar" %>

